
body {

    color: #228B22;
    background-position: center center;
}
.btn{
   color: #228B22;
   outline-color: #228B22;  
}
/*.container-fluid{
    border: 1px dotted #cc2222;
}
.row{
    border: 1px dotted #cc2222;

}
.col{
    border: 1px dotted #cc2222;
}
*/
#imagehp{
    max-height: 890px;
    max-width: 750px;
    padding-bottom: 10px;
    background-repeat: no-repeat;
}
.fade-in-color {
  font-weight: bold;  
  color: #228B22;
  transition: 0.5s color ease;
}
#most_relevant_events{
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('/static/img/floral24.jpg');  
    background-repeat: no-repeat;
    background-position: center center;
   
}
#all_events{
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('/static/img/floral29.jpg');  
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.see_through{
    background-color: transparent;
}
.list-group-flush>.list-group-item {
    border-width: 0 0 0px;
}
#events_soon{
    font-style: italic;
    font-family: 'Raleway', sans-serif;
}
#all_event_btn{
    font-size: 40px;
    font-style: italic;
    font-family: 'Raleway', sans-serif;
}


h1 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

h2{
    font-family: 'Raleway', sans-serif;
}
h3 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
}
h4{
    color: #1c731c;
}
p{
    font-family: 'Raleway', sans-serif;
}


#event_layout{
    font-size: 20px;
}

#new_event_link{
    background-color: transparent;
    background-position: center center;
    font-size: 18px;
    font-style: italic;
}

#invite_link{
    font-size: 19px;
}

#event_title{
    background-color: #FFFBFB;
    border-color: #ffe6b3;
}
#description{
    background-color: #FFFBFB;
    border-color: #ffe6b3;
}
#date{
    background-color: #FFFBFB;
    border-color: #ffe6b3;
}
#newevent{
    padding-top: 90px;
    background-repeat: no-repeat;
    background-position: 0.75% 20%;
}
#invitationDes{
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
}
#inviteDate{
    font-family: 'Raleway', sans-serif;
}
