{% extends 'base.html' %}
{% block title %}Homepage{%endblock%}

{%block body%}
    <h1>Welcom to Event Creation</h1>

    <h2>Create an account</h2>

        <form name = "create account">
            <p>
                Please enter your email<input type="text" name="email">
            </p>
            <p>
                Enter a password<input type="password" name="password">
            </p>
            <p>
                <input type="submit">
            </p>
        </form>

    <h2>Log in</h2>

        <form name = "create account">
            <p>
                Please your account email<input type="text" name="email">
            </p>
            <p>
                Enter your password<input type="password" name="password">
            </p>
            <p>
                <input type="submit">
            </p>
        </form>    
  
{% endblock %}


    