{% extends 'base.html' %}
{% block title %}Homepage{%endblock%}

{%block body%}
    <h1>Welcom to Event Creation</h1>

    <h3>Log in</h3>

        <form name = "login" action="/user_homepage" method="POST">
            <p>
                Enter your account email<input type="text" name="email">
            </p>
            <p>
                Enter your password<input type="password" name="password">
            </p>
            <p>
                <input type="submit">
            </p>
        </form> 
        
    <h3>Create Account</h3>    
        <form name = "create account" action="/create_user" method="POST">
            <p>
                Please enter your email<input type="text" name="email">
            </p>
            <p>
                Enter a password<input type="password" name="password">
            </p>
            <p>
                <input type="submit">
            </p>
        </form>  

  
{% endblock %}


    