{% extends 'base.html' %}
{% block title %}Homepage{%endblock%}

{%block body%}
    <h1>Welcom to Event Creation</h1>

        <form id = "credentials" action="/validate_user" method="post">
            <h3>Log in</h3>
        
            Enter your account email<input type="text" id="email" placeholder="user@gmail.com" required>

           <br>

            Enter your password<input type="password" id="password" placeholder="*******" required>

            <br>
            
             <button id="login" type = "submit" action="">Log In</button>

        </form> 

        
        <form id = "create_account" action="/create_user" method="POST">
            <h3>Create Account</h3>
            
                Please enter your email<input type="text" id="new_email" placeholder="myemail@gmail.com" required>

                <br>

                Enter a password<input type="password" id="new_password" placeholder="******" required>

                <br>
           
                <button id="new_user" type="submit">Make Account</button>
            
        </form> 

        <button id ='log_out' 
                form="credentials" 
                value="Reset Form" 
                style="display: none" 
                onclick="resetHompage()">
                Log Out
        </button>

 <!-------------- user page ---------------->

        <h2> </h2>
        <div id='user_events' style="display: none"></div>

        <button id ='make_event'>Make a new event!</button>
    
    
 <!-------------- Create Event page ---------------->

        <form id='event_layout'>
            Event title
            <input type="text" id="event_title">
            <br>
            Event Description
            <br>
            <textarea id="description"></textarea> 
            <br>
            Event date (enter date like 'Jan-20-2020')
            <input type="text" id="date">
            <br>
            <button id='commit_event_db'>Create Event!</button>
            <br>
            <br>
            Guest replies
            <input type="text" id="fname" placeholder="First Name">
            <input type="text" id="lname" placeholder="Last Name">
            <br>
            Do you plan to attend?
            <input type="checkbox" id="yes">Yes
            <input type="checkbox" id="no">No
            <input type="checkbox" id="maybe">Maybe
        </form>
    
    
        <script>
            function resetHompage(){
                document.getElementById('#credentials').reset();
                document.getElementById('#create_account').reset();
            }     
        </script>
    <script src="/static/homepage.js"></script>
    <script src="/static/newUser.js"></script>
    <script src="/static/eventCreation.js"></script> 


  
{% endblock %}


    