{% extends 'base.html' %}
{% block title %}Homepage{%endblock%}

{%block body%}
<div id="navigate">
    <nav class="navbar navbar-expand-md sticky-top">
         <button class="navbar-toggler" type="button" data-toggle="collapse" 
         data-target="#navbarSupportedContent" 
         aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="nav navbar-nav navbar-right">            
            <li>
                <a data-toggle="dropdown" class="btn" href="#">Login</a>
                <ul class="dropdown-menu form-wrapper">                 
                    <li>
                        <form id = "credentials" action="/validate_user" method="post">
                            <input type="text" id="email" placeholder="user@gmail.com" required>
                            <input type="password" id="password" placeholder="*******" required>
                            <button id="login" type = "submit" action="" class="btn btn-outline-dark">Log In</button>
                        </form>  
                    </li>
                </ul>
            </li>
            <br>
            <ul class="nav navbar-nav navbar-right">            
            <li>
                <a data-toggle="dropdown" class="btn" href="#">Sign Up</a>
                <ul class="dropdown-menu form-wrapper">                 
                    <li>
                        <form id = "create_account" action="/create_user" method="POST">
                            <input type="text" id="new_email" placeholder="myemail@gmail.com" required>
                            <input type="password" id="new_password" placeholder="******" required>
                            <button id="new_user" type="submit" class="btn btn-outline-dark">Make Account</button>
                        </form>  
                    </li>
                </ul>
            </li>         

            <button id ='log_out' type="submit" style="display: none" class="btn">
                Log Out
            </button>

            <button id ='back' style="display: none" class="btn btn-outline-dark">
                Back to previous page
            </button>
        </div>
    </nav> 
</div>

<div class="container-fluid">
    <div class="row justify-content-md-center">
        <h1>Welcome to Growing Ties!</h1>         
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <h3>Personal Event Creation Space</h3>
            <br>
            <img id="imagehp" src="/static/img/floral14.jpg" alt="Responsive image">
        </div>
    </div>      
</div>  
<div class="container-fluid">      
    <div class="row justify-content-start">
         <div class="col-4">
             <img id="how_to_img" src="/static/img/side_flower.jpg" class="img-thumbnail rounded float-left" alt=" floral invite image">
         </div>
         <div class="col-4">
             <h2>How to Use</h2>
             <br>
             <p id="how_to">Set up is easy, click the create an acount button
                and provide an email address and create your password. 

                Then simple personal event creation is at your finger tips. 
             </p>
         </div>      
    </div>
    </div>
</div>

<div class="container-fluid">      
    <div class="row justify-content-center">
         <div class="col-4">
             <h2>Making an event</h2>
             <br>
             <p id="get_started">
                Log in to your account, click make event, and then enter in 
                your events details. Once you click create event a link to your
                new event will be generated and you can send it to all your 
                Friends on whatever social media platforms they use!
             </p>
         </div>
         <div class="col-4">
             <img id="get_started_img" src="/static/img/floral_invite.jpg" class="img-thumbnail rounded float-left" alt=" floral invite image">
         </div>      
    </div>
    </div>
</div>

<div class="container-fluid">      
    <div class="row justify-content-center">
        <div class="col-4">
             <img id="done_img"src="/static/img/floral_drink3.jpg" class="img-thumbnail rounded float-left" alt=" floral invite image">
         </div>   
         <div class="col-4">
             <h2>Celebrate!</h2>
             <br>
             <p id="done"> 
                Once you send out your invite links all that is left is to 
                enjoy your event!
             </p>
         </div>   
    </div>
    </div>
</div>
 <!-------------- user page ---------------->

        <h2> </h2>
        <div id="most_relevant_events">            
        </div>
        
                <div id='user_events' style="display: none">
                    <div>
                        <ul id="event_link"></ul>
                    </div> 
                </div>    

        <button id ='make_event' class="btn btn-light">Make a new event!</button>
    
    
 <!-------------- Create Event page ---------------->

        <form id='event_layout'>
            Event title
            <input type="text" id="event_title">
            <br>
            Event Description
            <br>
            <textarea id="description"></textarea> 
            <br>
            Pick date 
            <input type="text" id="date">
            <br>
            <br>
            <button id='commit_event_db' class="btn btn-light">Create Event!</button>
        </form>
        <div> 
            <p id="new_event_link"></p>
            <p id="invite_link"></p>
        </div>
   
    <script >let event_id ;</script>

    <script>
        $(document).ready(function (){
            const date_selection = $('#date');
            const options = {
                format: 'mm/dd/yyyy',
                todayHighlight: true,
                autoclose: true
            };
            date_selection.datepicker(options);
        })
    </script>

   
{% endblock %}
  
<!--   <footer>
        <p>Designed and Owned by Gillian Hammett 2020.</p>
    </footer>-->


    