{% extends 'base.html' %}
{% block title %}User Homepage{%endblock%}

{%block body%}
    <h1>Welcom Back {{user.email}}!</h1>

    <h2>Your events</h2>    
        
    {% for event in user.events %}
        <p >
            {{event.event_title}}
            <br>
            {{event.date}}
            <br>
            {{event.description}}
        </p>
    {% endfor %}

    <h2>Guests attending</h2>
        
        
            <p>
                UNDER CONSTRUCTION 
            </p>
        

    <h3>Create new event</h3>

        <form action="/create_events">         
            <p>
                <input type="submit">
            </p>
        </form>

{% endblock %}
